.container-fluid.main {
	padding-top: 40px;
	padding-bottom: 60px;
}
.navbar-inverse {
	.logout-brand {
		display: inline-block;
		.logout {
			font-size: 14px;	
		}
	}
}

.footer {
	margin-top: 10px;
}
.navbar.navbar-inverse.navbar-fixed-top {
	min-width: 800px;
}

.bs-docs-sidenav {
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidebar .nav-list>li>a {
	padding: 6px 15px;
}

.bs-docs-sidenav > li > a {
	display: block;
	width: 190px 9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5;
}

.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.main-container {
	padding-top: 15px;
}

.addTask {
	margin-top: 15px;
}

.endTask {
	margin-left: 10px;
	margin-top: 15px;
	&.closed {
		margin-top: 20px;
	}
}

.loadingStart {
	margin: 18px 10px 0px 0px;
	display: none;
}
.green {
	color: #468847;
}
.yellow {
	color: #c09853;
}
.red {
	color: #b94a48;
}
.blue {
	color: #3a87ad;
}
.changesHistory {
	display: none;
}
.loadingImg {
	padding-left: 10px;
	display: none;
}
.help-inline p {
	padding: 0px;
	margin: 0px;
}
.loginWindow {
	width: 350px;
	margin: auto;
	text-align: center;
	margin-top: 120px;
	border: 1px solid #ddd;
	#remember {
		padding: 0px;
		margin-top: -2px;
	}
}
.loadingHistory {
	display: none;
}
.listBody {
	position: relative;
	.upperTasklist {
		display: none;
		position: absolute;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background: rgba(256, 256, 256, 0.5);
		&.show {
			display: block;
		}
		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100px;
			height: 24px;
			margin-top: -12px;
			margin-left: -50px;
			border: 1px solid #ccc;
			padding: 5px;
			background: white;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
			box-shadow: 0 1px 4px rgba(0,0,0,0.065);
		}
	}
}
.pagination {
	text-align: center;
}

ul.projectAbout {
	margin: 0;
	padding: 0px 0px 30px;
	li {
		float: left;
		list-style-type: none;
		margin-right: 30px;
	}
}

table.startGoogle td {
	vertical-align: top;
	padding: 0 5px;
}

/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        min-width: 800px;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
